  #row1 {
    margin-bottom: 20px;
    margin-top: 20px;  
    
  }
  

  #row1 h1 {
    font-size: 40px;
    float: left;
  }
  
  #backIcon {
    width: 4%;
    cursor: pointer;
    margin-right: 15px;
    float: left;
    
  }

  #row2 {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-top: 10%;
  }
  
  form {
    width: 40%;
    height: 100%;
    display: inline-block;
  }

  #row2 img {
    width: 25%;
    margin-right: 20%;
    float: right;
  }


  
  nav {
    float: right;
    margin-top: 5%;
    margin-right: 10%;
  }
  
  #navbarBottom .nav-link {
    color: #495057;
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
  }

  #row3 col{
    display: inline-block;
  }
  
  #navbarBottom .nav-link:hover {
    background-color: #495057;
    color: white;
  }
  

  